<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Error occured!</h1>
    <p>It is our fault, please try again later. thanks!</p>
    <%- include('../includes/end.ejs') %>