<%- include('../includes/head.ejs') %>
</head>

<body>
    <h1>Error occured!</h1>
    <p>It is our fault, please try again later. thanks! <a href="/">Home</a></p>
    <%- include('../includes/end.ejs') %>